@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. About
8. Quote
9. CTA
10. Classes
11. Pricing
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
	cursor: url('../images/cursor.png'), auto !important;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.500;
	font-weight: 400;
	color: #909090;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
	color: #2c2c2c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
	
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.background_home_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.background_schedule_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.button
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #ff0e3b;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 130%;
	height: 320%;
	background: #ff0e3b;
	content: '';
	z-index: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.button::after
{
	display: block;
	position: absolute;
	right: -15px;
	bottom: -15px;
	width: 30px;
	height: 30px;
	background: #ff0e3b;
	content: '';
	transform: rotate(-45deg);
}
.button a
{
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	text-transform: uppercase;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover::before
{
	top: 160%;
	left: 160%;
}
.button:hover a
{
	color: #ff0e3b;
}
.button_2
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #ff0e3b;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button_2 a
{
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	text-transform: uppercase;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button_2:hover
{
	background: #ff0e3b;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 1500px;
}

.home .section_title h1
{
	font-family: 'Julius Sans One', sans-serif;
}

.home_slider_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7800ff;
	background-image: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
	background: #7800ff;
	background: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
}
.home_slider_container
{
	height: 100%;
}
.slide_wrap
{
	width: 100%;
	height: 100%;
	padding-top: 90px;
}
.home_container
{
	width: 100%;
}
.home_content
{
	opacity: 0;
	-webkit-transition: all 2000ms 500ms ease;
	-moz-transition: all 2000ms 500ms ease;
	-ms-transition: all 2000ms 500ms ease;
	-o-transition: all 2000ms 500ms ease;
	transition: all 2000ms 500ms ease;
}
.home_content.active
{
	opacity: 1;
}
.home_subtitle
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.2;
	padding-left: 6px;
}
.home_title
{
	margin-top: 9px;
}
.home_title h1
{
	font-size: 72px;
	font-weight: 300;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.home_title h1:not(:last-of-type)
{
	margin-bottom: -6px;
}
.home_title h1 span
{
	font-weight: 700;
}
.home_button
{
	margin-left: 9px;
	margin-top: 37px;
}

/*********************************
6. Intro
*********************************/

.intro
{

}
.intro_boxes_wrap
{
	width: 100%;
}
.intro_boxes_wrap > div
{
	width: 100%;
	height: 498px;
}
.intro_box
{
	width: calc(100% / 3);
	height: 100%;
	padding-left: 75px;
	padding-right: 75px;
}
.intro_box:first-child
{
	background: #f87a96;
}
.intro_box:nth-child(2)
{
	background: #1d8d09;
}
.intro_box:nth-child(3)
{
	background: #ff0e3b;
}
.intro_box_icon
{
	width: 41px;
	height: 41px;
}
.intro_box_icon img
{
	max-height: 100%;
}
.intro_box_title
{
	margin-top: 25px;
}
.intro_box_title h3
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.intro_box_text
{
	margin-top: 28px;
}
.intro_box_text p
{
	color: #ffffff;
}


/*********************************
7. About
*********************************/

.about
{
	background: #ff18611c;
	padding-top: 96px;
	padding-bottom: 99px;
}
.about_text
{
	margin-top: 25px;
	padding-right: 75px;
}
.about_text p
{
	font-family: 'Rancho', cursive;
	color: #ff1861;
}
.about .section_title h1
{
	font-family: 'Julius Sans One', sans-serif;
}
.about_button
{
	margin-top: 36px;
}
.about_image
{
	padding-top: 8px;
}
.about_image img
{
	max-width: 130%;
}
.about_params
{
	padding-top: 8px;

	
}
.about_params h2
{
	font-family: 'Julius Sans One', sans-serif;	
}
.about_params_height
{
	padding-top: 8px;
}
.about_params_height h4
{
	font-family: 'Rancho', cursive;
	color: #ff1861;
}
.about_params_weight
{
	padding-top: 8px;
}
.about_params_weight h4
{
	font-family: 'Rancho', cursive;
	color: #ff1861;
}
.about_params_breast
{
	padding-top: 8px;
}
.about_params_breast h4
{
	font-family: 'Rancho', cursive;
	color: #ff1861;
}
.about_params_extra
{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
	
}
.about_params_extra p
{
	font-family: 'Kaushan Script', cursive;
	color: #ff1861bd;
}
.about_params_extra_1
{
    position: absolute;
    top: 48%;
    left: 55%;
    transform: translate(-50%, -50%);

}
.about_params_extra_1 p
{
	font-family: 'Kaushan Script', cursive;
	color: #ff1861bd;
}
.about_params_extra_2
{
    position: absolute;
    top: 56%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.about_params_extra_2 p
{
	font-family: 'Kaushan Script', cursive;
	color: #ff1861bd;
}

/*********************************
9. CTA
*********************************/

.cta
{
	background: #56015d;
}

.cta_rules
{
	background: #ff18611c;
}

.cta_image
{
	width: 40%;
}

.cta_schedule_image
{
	left: 40px;
	width: 40%;
}

.cta_content
{
	width: 60%;
	padding-top: 95px;
	padding-bottom: 88px;
	padding-left: 300px;
}
.cta .section_title h1
{
	font-family: 'Julius Sans One', sans-serif;
	color: #ffffff;
}
.cta .section_title h2
{
	font-family: 'Julius Sans One', sans-serif;
	color: #ffffff;
}

.cta_rules .section_title h1
{
	font-family: 'Julius Sans One', sans-serif;
}

.cta_list
{
	margin-top: 49px;
	margin-left: -3px;
}
.cta_list ul li:not(:last-of-type)
{
	margin-bottom: 22px;
}
.cta_list ul li span
{
	padding-left: 19px;
	font-size: 14px;
	font-weight: 400;
	color: #ff1861;
}
.cta_buttons
{
	margin-top: 67px;
}
.cta_buttons .cta_button
{
	margin-bottom: 12px;
}
.cta_buttons .cta_button:not(:last-child)
{
	margin-right: 18px;
}

/*********************************
12. Footer
*********************************/

.footer
{
	background: #190a49;
}
.footer_content
{
	padding-top: 99px;
	padding-bottom: 30px;
}
.footer_logo a
{
	display: inline-block;
	position: relative;
}
.footer_bar
{
	height: 56px;
}
.copyright
{
	font-size: 11px;
	font-weight: 700;
	color: #443586;
}
.footer_row
{
	margin-top: 59px;
}
.footer_icon
{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background: #0f0432;
}
.footer_icon > div
{
	width: 42px;
	height: 42px;
}
.footer_icon > div img
{
	max-width: 100%;
	max-height: 100%;
}
.footer_title
{
	margin-top: 33px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 25px;
}
.footer_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
}
.footer_list ul li
{
	font-size: 14px;
	font-weight: 700;
	color: rgba(255,255,255,0.38);
	text-transform: uppercase;
}
